@model IEnumerable<Post>

@{
    ViewData["Title"] = "Ana Sayfa";
}

<header class="py-5 bg-light border-bottom mb-4">
    <div class="container">
        <div class="text-center my-5">
            <h1 class="fw-bolder">Blog Siteme Hoş Geldiniz!</h1>
            <p class="lead mb-0">Ben Burcu Ustael...</p>
        </div>
    </div>
</header>

<partial name="_Posts" model="Model" />